<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SSO-Monitor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/archive">
                        <i class="bi bi-archive"></i>
                        <span>Archive</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats">
                        <i class="bi bi-pie-chart"></i>
                        <span>Statistics</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list">
                        <i class="bi bi-list-ol"></i>
                        <span>Tranco+SSO List</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">
                        <i class="bi bi-gear"></i>
                        <span>Admin</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
